@model SR6POS.Models.Sale

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="card">
        <div class="card-header bg-primary"><h4>Sale Product</h4></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="CustomerId" class="control-label"></label>
                        <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                    </div>
                    <div class="form-group row">
                        <input id="search" name="search" class="form-control" placeholder="Barcode..." />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IssueDate" class="control-label"></label>
                        <input asp-for="IssueDate" class="form-control" />
                        <span asp-validation-for="IssueDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered" id="tsale">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Amount</th>
                            <th>Discount</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <button class="btn btn-primary">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-right">
                        <div class="form-group row">
                            <label asp-for="Total" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Total" class="form-control" readonly />
                                <span asp-validation-for="Total" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Discount" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Discount" class="form-control" value="0"/>
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="GrandTotal" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="GrandTotal" class="form-control" readonly />
                                <span asp-validation-for="GrandTotal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Receive" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Receive" class="form-control" value="0"/>
                                <span asp-validation-for="Receive" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Change" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Change" class="form-control" readonly />
                                <span asp-validation-for="Change" class="text-danger"></span>
                            </div>
                        </div>

                    </p>
                </div>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var i = 0;
            $("#search").keypress(function (e) {
                if (e.keyCode === 13) {
                    $.ajax({
                        method: "GET",
                        url: "/api/barcode/" + $("#search").val(),
                        dataType: "Json",
                        success: function (response) {
                            console.log(response);
                            var row = "<tr><td>" + response.productName + "</td>";
                            row += "<td><select class='form-control' name='unit[]' id='unit"+ i +"'>"+ options +"</select></td>";
                            row += "<td>" + response.price + "</td>";
                            row += "<td><input type='number' name='qty[]' class='form-control qty' value='1'/></td>";
                            row += "<td>" + response.price + "</td>";
                            row += "<td><input type='number' class='form-control discount' name='disc[]' value='0'/></td>";
                            row += "<td>" + response.price + "</td>";
                            row += "<td><button class='btn btn-danger remove'><i class='fa fa-trash'></i></button></td></tr>";
                            $("#tsale").append(row);
                            //total += response.price;
                            //$("#Total").val(total);
                            //$("#GrandTotal").val(total);
                            $("#unit" + i).val(response.unitId);
                            Calculation();
                            i++;
                        }, error: function (error) {
                            console.log(error);
                        }
                    });
                    $("#search").val("");
                }
            });
            $("#Discount").blur(function () {
                Calculation();
            });
            $("#Receive").keyup(function () {
                var grandTotal = $("#GrandTotal").val();
                var receive = $("#Receive").val();
                $("#Change").val(receive - grandTotal);
            });
        });
        $(document).on("click", ".remove", function () {
            $(this).closest("tr").remove();
            Calculation();
        });
        $(document).on("blur", ".qty", function () {
            Calculation();
        });
        $(document).on("blur", ".discount", function () {
            Calculation();
        });
        function Calculation() {
            var total = 0;
            $("#tsale > tbody > tr").each(function (i) {
                var price = $(this).find("td:eq(2)").html();
                var qty = document.getElementsByName("qty[]")[i].value;
                var amount = price * qty;
                var disc = document.getElementsByName("disc[]")[i].value;
                var discamount = (amount * disc) / 100;
                $(this).find("td:eq(4)").html(amount);
                $(this).find("td:eq(6)").html(amount - discamount);
                total += amount - discamount;
            });
            $("#Total").val(total);
            var discount = $("#Discount").val();
            var DiscountAmount = (total * discount) / 100;
            $("#GrandTotal").val(total - DiscountAmount);
        }
    </script>
}
